.css-ojj0fs {
    background: linear-gradient(-32deg, #6f31b7 14%, #fb558e 82%);
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 10px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 32em){ .css-a7eowp {
      margin-top: 64px;
  }
  @media screen and (min-width: 48em)
  {.css-a7eowp {
      grid-template-columns: repeat(2,1fr);
  }
  @media screen and (min-width: 32em)
  {
  .css-a7eowp {
      box-sizing: border-box;
      margin: 0;
      min-width: 0;
      display: grid;
      grid-gap: 15px;
      padding-bottom: 32px;
      
  }}}}
  
  .css-v1cp1g {
    width: 120px;
    border-radius: 200px;
    margin-top: 32px;
    border: 2px solid white;
  }
  .css-fzwid6 {
    width: 100%;
    text-align: center;
  }
  .css-qgkf1l {
    color: var(#ffffff);
    margin-bottom: 0;
  }
  .css-14atmpy {
    color: var(#ffffff);
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 0.7rem;
  }

  @media screen and (min-width: 48em)
{.css-xc5w91 {
    max-width: 1200px;
}
.css-xc5w91 {
    box-sizing: border-box;
    margin: 32px auto 0px;
    min-width: 0px;
    max-width: 1024px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}}

@media screen and (min-width: 48em)
{
.css-b63oki {
    grid-template-columns: repeat(4, 1fr);
}

.css-b63oki {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    gap: 0px;
    text-align: center;
}}

.css-amg1nq {
  width: 72px;
  height: 72px;
  border-radius: 99999px;
}